.payment-container {
    background-color: #f1f1f1;
    padding-top: 150px;
    padding-bottom: 190px;
  }
  
  .btn-payment {
    position: absolute;
    left: 1490px;
    bottom: 140px;
  }

  .containerPaymentCard{
  padding-top: 200px !important;
  padding-bottom: 200px !important;
  padding-left: 100px;
  padding-right: 100px;
  }

  .btnChange{
    background-color: orange !important;
  }

  .notifWarning{
    color: orange !important;
    position: relative;
    top: 70px;
    width: 112px;
    height: 24px;
    border-radius: 2px;
    background: cornsilk;
    border: solid black 1px;
    font-family: "Avenir";
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
  }

  .notifSuccess{
    color: green !important;
    position: relative;
    top: 70px;
    width: 112px;
    height: 24px;
    border-radius: 5px !important;
    background:cornsilk;
    border: solid black 1px;
    font-family: "Avenir";
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
  }

  .notifDanger{
    color: maroon !important;
    position: relative;
    top: 70px;
    width: 112px;
    height: 24px;
    background: cornsilk;
    border: solid black 1px;
    border-radius: 5px;
    font-family: "Avenir";
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
  }