.footer-container {
    background-color: #ffaf00;
    height: 54px;
    width: 1507px;
    line-height: 54px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    position: relative;
    top: 120px;
  }

