.container-detail{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    height: max-content;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 150px;
}

.container-detail h1{
    font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 66px;
display: flex;
align-items: center;
color: #000000;
}

.title-info{
    font-family: 'Avenir' !important;
    font-style: normal !important;
    font-weight: 800 !important;
    font-size: 13px !important;
    line-height: 18px !important;
    display: flex !important;
    align-items: center !important;
    color: #A8A8A8 !important;
}

.info-trip{
    display: flex;
    justify-content: space-around;
    width: 1018px;
}

.info-trip p{
    font-family: 'Avenir';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;
color: #000000;
}

.container-detail small{
    font-family: "Avenir";
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 33px;
display: flex;
align-items: center;
text-align: center;
color: #A8A8A8;
}

.description{
font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 19px;
text-align: justify;
color: #A8A8A8;
width: 1018px;
}